<h1>Log In</h1>
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email], class: 'form-control'%>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag "Log In", id: 'qa-log-in', class: 'btn btn-primary u-margin-top-xs' %>
  <%= link_to "or Sign Up", signup_path %>
<% end %>
