<%= form_for(@tweet, url: tweet_new_path) do |f| %>
  <%= render "errors", tweet: @tweet %>

  <%= f.label :content, 'What is on your mind?' %>
  <%= f.text_area :content, id: 'qa-tweet-content', class: 'form-control' %>
  <div class="row">
    test
    <%= f.button 'Submit', id: 'qa-submit',class: 'u-margin-left-sm u-margin-top-sm btn btn-primary qa-submit' %>
  </div>
<% end %>
