<div class="container u-margin-top">
  <div class="row">
    <div class="col-md-6">
      <h1>Feed</h1>
    </div>
    <div class="col-md-2">
      <a class="new-button u-float-right" href=<%= tweet_new_path %>><span class="glyphicon glyphicon-new-window"></span></a>
    </div>
  </div>
  <div class="u-margin-top-sm">
    <% @tweets.each do |tweet| %>
      <div class="row">
        <div class="col-md-8 tweet-box">
          <div class="row u-margin-top-xs">
            <h3 class="col-md-4 tweet-email"><%= link_to tweet.user.email, tweet.user, class: "qa-user-email-#{tweet.user.id}" %></h3>
            <h3 class="col-md-8 tweet-content"><strong><%= tweet.content %></strong></h3>
          </div>
          <p><%= tweet.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%-I:%M %p - %-d %b %Y") %></p>

          <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
              <% if current_user && tweet_favored?(tweet.id) %>
                <%= link_to favorite_path(get_favorite(tweet.id)), method: :delete, class: "favorite-button-favorited" do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
              <% else %>
                <%= link_to favorites_path(tweet_id: tweet.id), method: :post, class: "qa-favorite-tweet-#{tweet.id} favorite-button" do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
              <% end %>
              <%= tweet.favorites.count %>
              
              <% if current_user == tweet.user %>
                <%= link_to tweet_path(tweet), method: :delete do %>
                  <span class="glyphicon glyphicon-trash trash-button"></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
