<div class="container">
  <h1>Sign Up</h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <p><strong>Form is invalid</strong></p>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>

    <div class="row col-md-4">
      <%= f.label :email %>
      <%= f.text_field :email, id: 'qa-sign-up-email', class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, id: 'qa-sign-up-password', class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, id: 'qa-sign-up-pword-confirmation',  class: 'form-control' %>

      <%= f.submit "Sign Up", id: 'qa-sign-up',class: 'btn btn-primary u-margin-top-xs' %>
    </div>
  <% end %>
</div>
