<div class="jumbotron">
  <div class="profile-image"></div>
</div>

<div class="profile-info u-margin-bottom-sm ">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="circular-image"></div>
      </div>
      <div class="col-md-9 u-pad-left">
        <div class="row">
          <p class="col-md-2 info-text info-text--title info-border--left">
            Tweets
          </p>
          <p class="col-md-2 info-text info-text--title info-border--left">
            Followers
          </p>
          <p class="col-md-2 info-text info-text--title info-border--both">
            Following
          </p>
        </div>
        <div class="row">
          <p class="col-md-2 info-text info-border--left">
            <%= @user.tweets.count %>
          </p>
          <p class="col-md-2 info-text info-border--left">
            <%= link_to @user.followers.count, relationship_path, class: "qa-user-followers" %>
          </p>
          <p class="col-md-2 info-text info-border--both">
            <%= link_to @user.following.count, relationship_path %>
          </p>
          <div class="col-md-2 follow-button">
            <%= render "follow_button", user: @user%>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container info">
  <div class="row  u-inline-block">
    <div class="col-md-3 u-margin-right-sm">
      <h3><%= @user.email %></h3>

      <h5>Gaslight is an agile software development consultancy. We design and develop web and mobile apps for growth-minded companies—from startups to the Fortune 100.</h5>
      <p>Cincinnati, OH</p>
      <a href="#">teamgaslight.com</a>
    </div>
    <h4 class="col-offset-md-8 col-md-8 profile-info-type">Tweets</h4>
    <div class="col-md-8">
      <% @user.tweets.each do |tweet| %>
        <div class="row tweet-box u-pad-left">
          <div class="row u-margin-top-xs">
            <h3 class="col-md-5 tweet-email">
              <%= tweet.user.email if tweet.user %>
            </h3>
            <h3 class="col-md-7 tweet-content">
              <strong><%= tweet.content %></strong>
            </h3>
          </div>
          <p><%= tweet.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%-I:%M %p - %-d %b %Y") %></p>
          <%= render "favorite_button", tweet: tweet %>
          <%= tweet.favorites.count %>
          <%= render "delete_button", tweet: tweet %>
        </div>
      <% end %>
    </div>
  </div>
</div>
