<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
          <%= link_to "New Tweet", tweet_new_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <% if current_user %>
               <li><%= link_to current_user.email, current_user, class: 'qa-current-user-email' %></li>
               <li><%= link_to 'Logout', logout_path, id: 'qa-log-out', method: :delete %></li>
            <% else %>
               <li><%= link_to "Sign Up", signup_path %></li>
               <li><%= link_to "Log In", login_path %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
